<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <title>OneSky</title>
    <link rel="icon" type="image/ico" href="{% static 'assets/pngs/icon.png' %}">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/material-dashboard.css' %}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    {% block css %}
    {% endblock %} 
</head>
<body>
<div class="wrapper">
    {% include 'components/menu.html' %}
    {% block content %}
    {% endblock %}
</div>

</body>
<script src="{% static 'assets/js/jquery-3.1.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/material.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/bootstrap-notify.js' %}" type="text/javascript"></script>

{% block js %}

{% endblock %}

</html>