{% block content %}

    	    <div class="main-panel">
			{%  include 'components/nav.html' %}

	        <div class="content">
	            <div class="container-fluid">
	                <div class="row">


                        <div class="co-lg-2 col-md-2 col-sm-6">
                        <div class="card">

                            <img src="../assets/img/XkfnD3A.png">

                            </div>
                        </div>



	                </div>
	            </div>
	        </div>
	    </div>

{% endblock %}