

{% load staticfiles %}

<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">

			<!--
		        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

		        Tip 2: you can also add an image using data-image tag
		    -->

			<div class="logo">
				<a href="{% url 'index' %}" class="simple-text">
					ONESKY
				</a>
			</div>

	    	<div class="sidebar-wrapper">
				<ul class="nav">
	                <li>
	                    <a href="{% url 'index' %}">
	                        <i class="material-icons">dashboard</i>
	                        <p>Dashboard</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="{% url 'feeds' %}">
	                        <i class="material-icons">assignment</i>
	                        <p>RSS Feeds</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="#">
	                        <i class="material-icons">content_paste</i>
	                        <p>Personalize</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="#">
	                        <i class="material-icons">library_books</i>
	                        <p>Server Analytics</p>
	                    </a>
	                </li>
	                <li>
	                    <a href="#">
	                        <i class="material-icons">keyboard</i>
	                        <p>Scripts</p>
	                    </a>
	                </li>


	            </ul>
	    	</div>
	    <div class="sidebar-background" style="background-image: url({% static 'assets/img/sidebar-2.jpg' %}) "></div></div>